
<h1>{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.HEADER'| translate }}</h1>
<div class="sectors">
  <div>
    <h2 class="title">{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.BLOCKCHAIN.HEADER'| translate }}</h2>
    <ul class="details">
      <li>{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.BLOCKCHAIN.PUBLIC-PRIVATE'| translate }}</li>
      <li>{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.BLOCKCHAIN.DEPLOYMENT-BLOCKCHAIN'| translate }}</li>
      <li>{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.BLOCKCHAIN.ARCHITECTURE-DECENTRALIZED'| translate }}</li>
    </ul>
  </div>
  <div>
    <h2 class="title">{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.CYBER-SECURITY.HEADER'| translate }}</h2>
    <ul class="details">
      <li>{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.CYBER-SECURITY.DETERRANTS'| translate }}</li>
      <li>{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.CYBER-SECURITY.MITIGATION'| translate }}</li>
      <li>{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.CYBER-SECURITY.CYBER-PHYSICAL'| translate }}</li>
    </ul>
  </div>
  <div>
    <h2 class="title">{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.CLOUD-COMPUTING.HEADER'| translate }}</h2>
    <ul class="details">
      <li>{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.CLOUD-COMPUTING.MODULARIZATION'| translate }}</li>
      <li>{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.CLOUD-COMPUTING.SERVERLESS-FUNCTIONS'| translate }}</li>
      <li>{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.CLOUD-COMPUTING.RESTFUL-ARCHITECTURE'| translate }}</li>
    </ul>
  </div>
  <div>
    <h2 class="title">{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.DATA-SCIENCE.HEADER'| translate }}</h2>
    <ul class="details">
      <li>{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.DATA-SCIENCE.BIG-DATA'| translate }}</li>
      <li>{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.DATA-SCIENCE.GEOSPACIAL-DATA'| translate }}</li>
      <li>{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.DATA-SCIENCE.REAL-TIME-DATA'| translate }}</li>
    </ul>
  </div>
  <div>
    <h2 class="title">{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.VIRTUAL-AUGMENTED-REALITY.HEADER'| translate }}</h2>
    <ul class="details">
      <li>
        {{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.VIRTUAL-AUGMENTED-REALITY.HUMAN-MACHINE-INTERFACE'| translate }}
      </li>
      <li>
        {{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.VIRTUAL-AUGMENTED-REALITY.ENGAGEMENT-BEHAVIOR-CHANGE'| translate }}
      </li>
      <li>{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.VIRTUAL-AUGMENTED-REALITY.AVATARS-IDENTITY'| translate }}
      </li>
    </ul>
  </div>
</div>
<a class="help-leaders" routerLink="/contact-us">{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.EXPLANATION'| translate }}</a>
<a class="navigate-to-next" routerLink="/advisory/innovation-management">
  <img src="../../../assets/images/rocket-launch-outline.svg" alt="decorative rocket"><span>{{ 'ADVISORY.DIGITAL-BUSINESS-TRANSFORMATION.NAVIGATE-TO-NEXT-SECTION'| translate }}</span>
</a>
