@import "../../../styles/main.scss";

:host {
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  justify-items: center;
  background-color: $creamyWhite;
  height: 100%;
  h1 {
    color: $darkGray;
  }
  .sectors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-top-style: solid;
    border-top-width: thin;
    background-color: $lightBlue;
    color: $creamyWhite;
    width: 100%;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    div {
      margin-right: 0.3rem;
      margin-left: 0.3rem;
      display: grid;
      grid-template-rows: auto 1fr;
      width: 20rem;
    }
    .title {
      background-color: $darkGray;
      padding-top: 1rem;
      padding-right: 1rem;
      padding-bottom: 1rem;
      padding-left: 1rem;
      margin: 0;
      font-weight: bold;
      text-align: center;
    }
    .details {
      background-color: $creamyWhite;
      color: $darkGray;
      padding-top: 1rem;
      padding-right: 1rem;
      padding-bottom: 1rem;
      padding-left: 2.3rem;
      margin: 0;
      min-height: 20rem;
      list-style-type: none;
      li {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
  }
  .help-leaders {
    text-decoration: none;
    text-align: center;
    color: $creamyWhite;
    background-color: $brightOrange;
    padding-top: 30px;
    padding-right: 150px;
    padding-bottom: 30px;
    padding-left: 150px;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    width: 60%;
  }
  .navigate-to-next {
    color: $brightOrange;
    font-size: 1.7rem;
    padding-bottom: 2rem;
    span {
      padding-left: 1rem;
    }
  }
}
