@import "../../../styles/main.scss";

:host {
  display: grid;
  grid-template-rows: auto auto auto auto 1fr;
  justify-items: center;
  background-color: $creamyWhite;
  padding-bottom: 20rem;
  h1 {
    color: $darkGray;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .sectors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-top-style: solid;
    border-top-width: thin;
    background-color: $lightBlue;
    color: $creamyWhite;
    width: 100%;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    div {
      margin-right: 0.3rem;
      margin-left: 0.3rem;
      margin-top: 1.0rem;
      display: grid;
      grid-template-rows: auto 1fr;
      width: 20rem;
      h2 {
        background-color: $darkGray;
        padding-top: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        min-height: 3rem;
        margin: 0;
        font-weight: bold;
        text-align: center;
        display: grid;
        align-content: center;
      }
      ul {
        background-color: $creamyWhite;
        color: $darkGray;
        padding-top: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        padding-left: 2.3rem;
        margin: 0;
        min-height: 20rem;
        list-style-type: none;
        li {
          padding-top: 1rem;
          padding-bottom: 1rem;
          font-size: 1.25rem;
        }
      }
    }
  }
  .help-leaders {
    text-decoration: none;
    text-align: center;
    color: $creamyWhite;
    background-color: $brightOrange;
    padding-top: 30px;
    padding-right: 150px;
    padding-bottom: 30px;
    padding-left: 150px;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    width: 60%;
    display: grid;
    align-content: center;
  }
  .navigate-to-next {
    color: $brightOrange;
    font-size: 1.7rem;
    padding-bottom: 2rem;
    span {
      padding-left: 1rem;
    }
  }
}
