@import "../../../styles/main.scss";

:host {
  display: grid;
  grid-template:
    " header       header              " auto
    " what-we-know industries-we-serve " auto
    " what-we-know industries-we-serve " auto
    / 50% 50%;
    padding-bottom: 15rem;
  h1 {
    grid-area: header;
  }
  .what-we-know {
    grid-area: what-we-know;
    background-color: $creamyWhite;
    color: $lightBlue;
    font-size: 2.3rem;
    display: grid;
    justify-items: center;
    ul {
      list-style-type: none;
      font-size: 1.7rem;
      li::before {
        content: url("../../../assets/images/rocket-launch-outline.svg");
      }
    }
    a {
      color: $brightOrange;
      text-decoration: none;
    }
  }

  .industries-we-serve {
    grid-area: industries-we-serve;
    color: $lightGray;
    font-size: 2.3rem;
    display: grid;
    justify-items: center;
    ul {
      list-style-type: none;
      color: $creamyWhite;
      font-size: 1.7rem;
    }
  }
  li {
    padding-bottom: 1.5rem;
  }

  @media screen and (max-width: 575px) {
    .links {
      flex-direction: column;
    }
  }
}
