<h1>{{ "APP.ABOUT-US.HEADER" | translate }}</h1>
<p class="content">{{ "APP.ABOUT-US.CONTENT" | translate }}</p>
<p class="content-label">{{ "APP.ABOUT-US.CONTENT-LABEL" | translate }}</p>
<div class="your-passion-ideas">
  {{ "APP.ABOUT-US.YOUR-PASSIONS-IDEAS" | translate }}
</div>
<div class="advisory">
  <span class="title">{{ "APP.ABOUT-US.ADVISORY" | translate }}</span>
  <span>{{ "APP.ABOUT-US.CONNECT-SCIENTIST-ENTERPRENUERS" | translate }}</span>
</div>
<div class="praxis">
  <span class="title">{{ "APP.ABOUT-US.PRAXIS" | translate }}</span>
  <span>{{ "APP.ABOUT-US.CODIFY-PACKAGE" | translate }}</span>
</div>
<div class="ventures">
  <span class="title">{{ "APP.ABOUT-US.VENTURES" | translate }}</span>
  <span>{{ "APP.ABOUT-US.GET-CAPITAL" | translate }}</span>
</div>
<p class="statement">{{ "APP.ABOUT-US.EXPLANATION" | translate }}</p>
