version: "3"
services:
  webservice:
    restart: always
    image: expertcollective_webservice
    #container_name: ecc-webservice
    build:
      context: ./server
      dockerfile: Dockerfile
    volumes:
      - /server/node_modules
      - ./server:/build
      - contact-info:/usr/src/app/contact-info
    networks:
      - ecc-network
    expose:
      - "8000"
  client:
    restart: "no"
    image: expertcollective_web
    # container_name: ecc-webapp
    build:
      context: ./client
      dockerfile: Dockerfile
    volumes:
      - /client/node_modules
      - ./client:/dist/expert-collective/browser
      - web-root:/usr/src/app/dist/expert-collective/browser
      - /var/run/docker.sock:/tmp/docker.sock:ro
    networks:
      - ecc-network
  nginx:
    restart: always
    build:
      context: ./controller
      dockerfile: Dockerfile
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - web-root:/var/www/html
    depends_on:
      - client
    networks:
      - ecc-network
  restservice:
    restart: always
    build:
      context: ./restservice
      dockerfile: Dockerfile
    networks:
      - ecc-network
    expose:
      - "5000"
    tty: true
    volumes:
      - ./restservice/volumes/instance/flaskr.sqlite:/usr/src/app/instance/flaskr.sqlite:rw
volumes:
  web-root:
  contact-info:
networks:
  ecc-network:
