<h1>{{ 'ADVISORY.INNOVATION-MANAGEMENT.HEADER'| translate }}</h1>
<div class="sectors">
  <div>
    <h2>{{ 'ADVISORY.INNOVATION-MANAGEMENT.R-D-PIPELINES.HEADER'| translate }}</h2>
    <ul>
      <li>{{ 'ADVISORY.INNOVATION-MANAGEMENT.R-D-PIPELINES.PROJECT-IDENTIFICATION'| translate }}</li>
      <li>{{ 'ADVISORY.INNOVATION-MANAGEMENT.R-D-PIPELINES.MOTIVATIONS-REWARDS'| translate }}</li>
      <li>{{ 'ADVISORY.INNOVATION-MANAGEMENT.R-D-PIPELINES.RESEARCH-COLLABORATIONS'| translate }}</li>
    </ul>
  </div>
  <div>
    <h2>{{ 'ADVISORY.INNOVATION-MANAGEMENT.CORPORATE-VENTURING.HEADER'| translate }}</h2>
    <ul>
      <li>{{ 'ADVISORY.INNOVATION-MANAGEMENT.CORPORATE-VENTURING.TARGET-SCREENING'| translate }}</li>
      <li>{{ 'ADVISORY.INNOVATION-MANAGEMENT.CORPORATE-VENTURING.INCENTIVE-MANAGEMENT'| translate }}</li>
      <li>{{ 'ADVISORY.INNOVATION-MANAGEMENT.CORPORATE-VENTURING.COMMUNITY-BUILDING'| translate }}</li>
    </ul>
  </div>
  <div>
    <h2>{{ 'ADVISORY.INNOVATION-MANAGEMENT.TALENT-DEVELOPMENT.HEADER'| translate }}</h2>
    <ul>
      <li>{{ 'ADVISORY.INNOVATION-MANAGEMENT.TALENT-DEVELOPMENT.STRESS-TESTING-TEAMS'| translate }}</li>
      <li>{{ 'ADVISORY.INNOVATION-MANAGEMENT.TALENT-DEVELOPMENT.ACCOUNTABILITY-ORGANIZATIONS'| translate }}</li>
      <li>{{ 'ADVISORY.INNOVATION-MANAGEMENT.TALENT-DEVELOPMENT.FROM-STORMING-TO-PERFORMING'| translate }}</li>
    </ul>
  </div>
</div>
<a class="help-leaders" routerLink="/contact-us">{{ 'ADVISORY.INNOVATION-MANAGEMENT.EXPLANATION'| translate }}</a>
<a class="navigate-to-next" routerLink="/advisory/venture-formation">
  <img src="../../../assets/images/rocket-launch-outline.svg" alt="decorative rocket"><span>{{ 'ADVISORY.INNOVATION-MANAGEMENT.NAVIGATE-TO-NEXT-SECTION'| translate }}</span>
</a>