$brightOrange: rgba(220, 73, 21, 1); // #DC4915
$darkGray: rgba(70, 59, 70, 1); // #463B46
$midGray: rgba(96, 95, 108, 1); // #605f6c;
$lightGray: rgba(132, 138, 143, 1); // #848a8f;
$lightBlue: rgba(182, 212, 221, 1); // #B6D4DD
$creamyWhite: rgba(249, 248, 243, 1); // #f9f8f3;
