$brightOrange: rgb(220, 73, 21); // #DC4915
$darkGray: rgb(70, 59, 70); // #463B46
$midGray: rgb(96, 95, 108); // #605f6c;
$lightGray: rgb(132, 138, 143); // #848a8f;
$lightBlue: rgb(182, 212, 221); // #B6D4DD
$creamyWhite: rgb(249, 248, 243); // #f9f8f3;
