$brightOrange: rgba(220, 73, 21, 1); // #DC4915
$darkGray: rgb(96, 95, 108, 1); // #463B46
$midGray: #605f6c;
$lightGray: #848a8f;
$lightBlue: rgba(182, 212, 221, 1); // #B6D4DD
$creamyWhite: #f9f8f3;
