@import "../../styles/main.scss";

.navbar {
  display: grid;
  grid-template: " menu-nav icon";
  background-color: $midGray;
  padding-top: 0.938rem;
  padding-bottom: 0.938rem;
  padding-left: 1.857rem;
  .icon {
    display: none;
    align-self: start;
    justify-self: right;
    border: 0;
    background-color: $midGray;
    color: $creamyWhite;
    font-size: x-large;
  }
}
@media screen and (max-width: 35.938rem) {
  .navbar .icon {
    display: block;
  }
}
