@import "../../../styles/base/palette";
@import "../../../styles/element/form";

form {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 0.313rem;
  color: $formDefaultColor;
  font-size: 1.313rem;
  justify-content: center;

  .field-set {
    display: grid;
    grid-template:
      " first-name      last-name       " auto
      " job-title       organization    " auto
      " phone-number    email-address   " auto
      " address         address         " auto
      " comment-message comment-message " auto
      / 31.25rem        31.25rem        ;
    grid-gap: 0.625rem;
    background-color: $formBackgroundColor;
    padding: 2.5rem;

    .first-name {
      grid-area: first-name;
    }
    .last-name {
      grid-area: last-name;
    }
    .job-title {
      grid-area: job-title;
    }
    .organization {
      grid-area: organization;
    }
    .phone-number {
      grid-area: phone-number;
    }
    .email-address {
      grid-area: email-address;
    }
    .address {
      grid-area: address;
    }
    .comment-message {
      grid-area: comment-message;
    }


    .text-input {
      display: flex;
      flex-direction: column;

      padding-top: 0.625rem;
      padding-bottom: 0.625rem;
      padding-left: 1.25rem;
      padding-right: 1.25rem;


      %input-format {
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        margin-top: 0.938rem;
      }
      input {
        @extend %input-format;
      }
      textarea {
        @extend %input-format;
        //border: 1px outset $formBackgroundColor;
        min-height: 5rem;
      }
    }
  }

  .submit {
    place-self: center;
    width: 100%;
    button {
      width: 100%;
      font-size: 2.25rem;
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }
  }

  .error-message {
    color: $errorMessagingColor;
    background-color: $errorBackgroundColor;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
}
@media screen and (max-width: 35.938rem) {
  form {
    display: grid;
    grid-template-columns: 18.75rem;
    grid-template-rows: repeat(12, 1fr);

    .submit {
      grid-column: auto;
    }
  }
}
