@import "../../../styles/base/palette";

form {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: repeat(7, 1fr);
  color: $creamyWhite;
  font-size: 21px;

  .text-input {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    background-color: $midGray;
  }

  .both-columns {
    grid-column: 1 / -1;
  }

  .submit {
    place-self: center;
    button {
      margin-right: 10px;
    }
  }

  .error-message {
    color: red;
  }
}
@media screen and (max-width: 575px) {
  form {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(12, 1fr);

    .submit {
      grid-column: auto;
    }
  }
}
