<div class="home">
  <h1>{{ "APP.HOME.MISSION" | translate }}</h1>
  <p class="pitch">{{ "APP.HOME.PITCH" | translate }}</p>
  <div class="strategies">
    <div class="advisory">
      <p>{{ "APP.HOME.ADVISORY-TAG" | translate }}</p>
      <a routerLink="/advisory">{{ "APP.HOME.ADVISORY" | translate }}</a>
    </div>
    <div class="praxis">
      <p>{{ "APP.HOME.PRAXIS-TAG" | translate }}</p>
      <a routerLink="/praxis">{{ "APP.HOME.PRAXIS" | translate }}</a>
    </div>
    <div class="ventures">
      <p>{{ "APP.HOME.VENTURES-TAG" | translate }}</p>
      <a routerLink="/ventures">{{ "APP.HOME.VENTURES" | translate }}</a>
    </div>
  </div>
  <a class="call-to-action" href="/contact-us">{{
    "APP.HOME.CALL-TO-ACTION" | translate
  }}</a>
  <div class="testimonies"></div>
</div>
