@import "../base/palette";

$formBackgroundColor: rgba($midGray, 0.7);
$formDefaultColor: $creamyWhite;
$buttonBackgroundColor: $brightOrange;
$buttonDisabledBgColor: rgba($brightOrange, 0.7);
$errorMessagingColor: $creamyWhite;
$errorBackgroundColor: $brightOrange;