@import "../../../styles/main.scss";

:host {
  display: grid;
  justify-items: center;
  grid-gap: 1rem;
  h1 {
    margin-bottom: 0rem;
  }
  .explanation {
    padding-right: 1.3rem;
    padding-left: 1.3rem;
    margin: 1.3rem;
    font-size: 2.3rem;
  }
  h2 {
    font-size: 2.7rem;
    color: $lightGray;
    margin-bottom: 0rem;
  }
  .approach-explaned {
    font-size: 2.1rem;
    margin-bottom: 0rem;
  }
  .process {
    list-style-type: none;
    font-size: 2.1rem;
    color: $creamyWhite;
    font-weight: bolder;
    li {
      margin-top: 1.3rem;
      margin-bottom: 1.3rem;
    }
  }
}
