
<h1>{{ 'VENTURES.HEADER' | translate }}</h1>
<p class="explanation">{{ 'VENTURES.EXPLANATION' | translate }}</p>
<app-venture-projects></app-venture-projects>
<h2>{{ 'VENTURES.APPROACH.HEADER' | translate }}</h2>
<p class="approach-explaned">{{ 'VENTURES.APPROACH.EXPLANATION' | translate }}</p>
<ul class="process">
  <li>{{ 'VENTURES.APPROACH.OUR-PROCESS.IDENTIFY-UNIQUE-INSIGHT' | translate }}</li>
  <li>{{ 'VENTURES.APPROACH.OUR-PROCESS.UNDERSTAND-LEADERSHIP-NEEDS' | translate }}</li>
  <li>{{ 'VENTURES.APPROACH.OUR-PROCESS.ASSEMBLE-TEAM' | translate }}</li>
  <li>{{ 'VENTURES.APPROACH.OUR-PROCESS.SECURE-FUNDING' | translate }}</li>
</ul>
