@import "../../../styles/base/palette";

:host {
  display: grid;
  justify-items: center;

  ul {
    list-style-type: none;
  }
  .dictionary {
    background-color: $creamyWhite;
    width: 500px;
    .definition {
      display: grid;
      grid-template-columns: 1fr auto auto;
      grid-gap: 20px;
      background-color: $lightGray;
      color: $creamyWhite;
      padding-top: 10px;
      padding-right: 20px;
      padding-bottom: 10px;
      padding-left: 20px;
      .formal {
        font-style: italic;
        border-left-color: $lightBlue;
        border-left-width: medium;
        border-left-style: solid;
      }
    }
    // .source {
    //   font-style: italic;
    // }
  }
  .apply-learn {
    margin-right: 80px;
    margin-bottom: 30px;
    margin-left: 80px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
  }
  .programs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    div {
      margin-right: 20px;
      margin-left: 20px;
    }
  }
  @media screen and (max-width: 575px) {
    .programs {
      flex-direction: column;
    }
  }
}
