@import "../../../styles/base/palette";

:host {
  display: grid;
  justify-items: center;

  ul {
    list-style-type: none;
  }
  .dictionary {
    background-color: $creamyWhite;
    width: 45rem;
    .definition {
      display: grid;
      grid-template-columns: 1fr auto auto;
      grid-gap: 1rem;
      background-color: $lightGray;
      font-size: 2.2rem;
      color: $creamyWhite;
      padding-top: 1.8rem;
      padding-right: 2.3rem;
      padding-bottom: 1.8rem;
      padding-left: 2.3rem;
      .vocab {
        text-transform: uppercase;
      }
      .formal {
        font-style: italic;
        border-left-color: $lightBlue;
        border-left-width: medium;
        border-left-style: solid;
        padding-left: 1.2rem;
      }
    }
    // .source {
    //   font-style: italic;
    // }
  }
  .apply-learn {
    margin-right: 5rem;
    margin-bottom: 1.875rem;
    margin-left: 5rem;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
  }
  .programs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    div {
      margin-right: 1.25rem;
      margin-left: 1.25rem;
    }
  }
  @media screen and (max-width: 35.938rem) {
    .programs {
      flex-direction: column;
    }
  }
}
