@import "../../../styles/main.scss";

:host {
  display: grid;
  justify-items: center;

  .dictionary {
    background-color: $creamyWhite;
    width: 45rem;
    .definition {
      display: grid;
      grid-template-columns: 1fr auto auto;
      grid-gap: 1rem;
      background-color: $lightGray;
      font-size: 2.2rem;
      color: $creamyWhite;
      padding-top: 1.8rem;
      padding-right: 2.3rem;
      padding-bottom: 1.8rem;
      padding-left: 2.3rem;
      .vocab {
        text-transform: uppercase;
      }
      .formal {
        font-style: italic;
        border-left-color: $lightBlue;
        border-left-width: medium;
        border-left-style: solid;
        padding-left: 1.2rem;
      }
    }
    ol {
      list-style: none;
      // margin-left: 0rem;
      li {
        counter-increment: custom;
      }
      li::before {
        content: counter(custom) " ";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        padding-right: 1rem;
      }
      li::first-child {
        counter-reset: custom;
      }
      ul {
        list-style: none;
        li {
          counter-increment: none;
        }
        li::before {
          content: url("../../../assets/images/rocket-launch-outline.svg");
        }
      }
    }
    li {
      color: $lightBlue;
      font-size: 3rem;
      span {
        color: $darkGray;
        font-size: 1rem;
        display: inline;
        vertical-align: middle;
      }
    }

  }
  .apply-learn {
    margin-right: 5rem;
    margin-bottom: 1.875rem;
    margin-left: 5rem;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: $lightGray;
  }
  .programs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    div {
      padding-top: 1rem;
      padding-right: 4rem;
      padding-bottom: 2rem;
      padding-left: 4rem;
      margin-right: 1.25rem;
      margin-left: 1.25rem;
      background-color: $lightGray;
      color: $creamyWhite;
      
    }
    ul {
      list-style-type: none;
      padding-left: 0rem;
      li {
        padding-bottom: 1rem;
      }
    }
  }
  @media screen and (max-width: 35.938rem) {
    .programs {
      flex-direction: column;
    }
  }
}
