@import "../../styles/base/palette";

:host {
  background-color: $creamyWhite;
  color: $darkGray;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 1.875rem;
  .logo {
    a {
      width: fit-content;
      text-decoration: none;
      color: $darkGray;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      justify-content: left;

      .logo-name {
        text-transform: uppercase;
        font-size: 2.25rem;
        padding-top: 1.25rem;
        padding-left: 1.25rem;
        padding-bottom: 0.625rem;
      }

      .logo-cooperative {
        text-transform: uppercase;
        font-size: 1.5rem;
        align-self: end;
        padding-bottom: 0.688rem;
        padding-left: 0.688rem;
      }

      .logo-tagline {
        font-size: 1.313rem;
        padding-left: 1.25rem;
      }

      .screen-reader {
        border: 0;
        clip: rect(0.063rem, 0.063rem, 0.063rem, 0.063rem);
        height: 0.063rem;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        word-wrap: normal;
      }
    }
  }
}
