@import "../../styles/base/palette";

.top-header {
  background-color: $creamyWhite;
  color: $darkGray;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  height: 60px;
  .logo {
    font-size: 2rem;
    font-weight: 200;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    a {
      text-decoration: none;
      color: $darkGray;
    }
    .screen-reader {
      border: 0;
      clip: rect(1px, 1px, 1px, 1px);
      height: 1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      word-wrap: normal;
    }
  }
}
