/* You can add global styles to this file, and also import other style files */
/* Global Styles */

// @font-face {
//   font-family: "EcHelvetica";
//   src: url(../assets/Helvetica-Neue-Font/Helvetica\ Neue\ W01\ 66\ Medium\ It/)
//   // src: url(../assets/Helvetica-Font/Helvetica.ttf) format("truetype"),
//   //   url(../assets/Helvetica-Font/Helvetica-Bold.ttf) format("truetype");
  
// }

@import "./element/page";
@import "./element/form";
@import "./base/palette";

html,
body {
  width: 100%;
  height: 100%;
  font-family: Helvetica, Arial, Verdana, "Trebuchet MS"; 
  // "Helvetica Neue", Helvetica, "Open Sans", sans-serif;
  background-color: $pageBackgroundColor;
  color: $pageDefaultColor;
  margin: 0rem;
  h1 {
    color: $pageHeaderColor;
    font-size: 4.5rem;
    margin-top: 0rem;
    padding-top: 12.5rem;
    text-align: center;
  }
  input {
    border: 0.63rem outset $formBackgroundColor;
  }
  textarea {
    border: 0.63rem outset $formBackgroundColor;
  }
  button {
    background-color: $buttonBackgroundColor;
    color: $formDefaultColor;
  }
  button:disabled {
    background-color: $buttonDisabledBgColor;
  }
}
